common-core/src/test/resources/conv/DataConvMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.legend.com/DataConvMap.xsd"
	xmlns:p="http://www.legend.com/DataConvMap.xsd"
	elementFormDefault="qualified">

	<element name="DataConvMap">
		<complexType>
			<sequence>
				<element name="DataConv" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="Source" type='string' />
							<element name="Destination" type='string' />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
