common-config/src/main/java/com/legend/common/config/rspmsg/RspMsgConv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.legend.com/RspMsgMap.xsd"
	xmlns:p="http://www.legend.com/RspMsgMap.xsd" elementFormDefault="qualified">

	<element name="RspMsgMap">
		<complexType>
			<sequence>
				<element name="RspMsg" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="code" type="string" />
							<element name="message" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
