common-config/etc/DataDicMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.legend.com/DataDicMap.xsd"
	xmlns:p="http://www.legend.com/DataDicMap.xsd"
	elementFormDefault="qualified">

	<element name="DataDicMap">
		<complexType>
			<sequence>
				<element name="DataDic" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<!-- 数据编码 -->
							<element name="DataCode" type="string" />
							<!-- 数据类型-->
							<element name="DataType" type="string" />
							<!-- 数据域说明 -->
							<element name="Desc" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
