common-core/src/test/java/com/legend/common/model/test/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test"
	xmlns:tns="http://www.example.org/test" elementFormDefault="qualified">
	<element name="DataBase">
		<complexType>
			<sequence>
				<element name="Username" type="string" />
				<element name="Password" type="string" />
				<element name="url" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>